[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/JunliangRen/FFmpeg.git
	branch = dev
[submodule "libbluray"]
	path = libbluray
	url = https://gitea.1f0.de/LAV/libbluray.git
[submodule "qsdecoder"]
	path = qsdecoder
	url = https://gitea.1f0.de/LAV/qsdecoder.git
